__pycache__/balg_utils.cpython-39.pyc
__pycache__/vstru2mw.cpython-39.pyc
Sheet2(1).pdf
results/shee2_1.png
.vscode/launch.json
.gitignore
pdf/gilKimmel.pdf
pdf/RobinsonWhelanRec.pdf
pdf/Sheet1.pdf
pdf/Sheet2.pdf
pdf/Sheet3.pdf
pdf/Skript.pdf
pdf/VincentRec.pdf
